<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggle()" class="navbtn">
    <mat-icon>menu</mat-icon>
  </button>

  <img
    class="element"
    (click)="goTo('')"
    src="../assets/images/logotipo.png"
    alt="logo"
  />
  <span class="spacer"></span>

  <div class="toHideOnMedia">
    <button mat-button (click)="goTo('')">Home</button>
    <button mat-button (click)="goTo('sobre')">Sobre</button>
    <button mat-button (click)="goTo('projetos')">Projetos</button>
    <button mat-button (click)="goTo('contato')">Contato</button>
  </div>

  <button mat-icon-button (click)="gotToWhatsApp()">
    <app-icon name="iconWhats" [icon]="iconWhatsapp"></app-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="container-auto" autosize>
  <mat-drawer #drawer class="sidenav" mode="over">
    <mat-nav-list>
      <a mat-list-item (click)="goTo(''); drawer.toggle()"> Home </a>
      <a mat-list-item (click)="goTo('sobre'); drawer.toggle()"> Sobre</a>
      <a mat-list-item (click)="goTo('projetos'); drawer.toggle()">Projetos</a>
      <a mat-list-item (click)="goTo('contato'); drawer.toggle()">Contato </a>
    </mat-nav-list>
  </mat-drawer>

  <router-outlet></router-outlet>
</mat-drawer-container>
