.area-imagem-principal {
  width: 100%;

  .imagem-principal {
    width: 100%;
  }

  .title {
    position: absolute;
    top: 50%;
    color: #fff;
    width: 100%;
    text-align: center;

    .text {
      background-color: rgba(0,0,0,.5);
      font-weight: 800;
      font-size: 28px;
    }
  }
}

.container-principal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
}

.area-perfil {
  width: 400px;

  .image-perfil {
    border-radius: 100px 100px 30px 100px;
    box-shadow: rgba(5, 5, 5, 5.56) 0px 22px 70px 4px;
  }
}

.engenheiro {
  color: #707070;
  font-size: 24px;
  font-weight: 500;
}

.text {
  font-size: 16px;
  font-weight: 300;
  line-height: 2em;
}

.name {
  font-size: 30px;
  font-weight: 900;
}

.fontawesomesvg {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

.icon-display {
  transform: scale(1.6);
  margin-left: 15px;
}

.label {
  margin-left: 14px;
  letter-spacing: 0.00938em;
  font-size: 34px;
  font-weight: 700;
}

.image-service {
  cursor: pointer;
  width: 100%;
  height: 250px;
}

@media (min-width: 1499px) {
  .image-service {
    height: 380px;
  }
}

@media (max-width: 575px) {
  .text {
    font-size: 1em;
    font-weight: 300;
    line-height: 2em;
  }

  .container-principal {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    max-height: -webkit-fill-available
  }

  .engenheiro {
    margin-top: 80%;
    font-size: 18px;
  }

  .image-perfil {
    margin-top: 30px;
  }

  .areaResponsiva {
    margin-top: 74% !important;
    max-height: -webkit-fill-available
  }

  .areaServicos {
    margin-top: 30% !important;
  }

  .titleSection {
    display: flex;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 40px !important;

    .icon-display {
      transform: scale(0.9);
      margin-left: 0;
    }

    .label {
      font-size: 22px;
      font-weight: 500;
    }
  }

  .elemento {
    margin-top: 20px;
  }
}
