<section
  class="area-imagem-principal"
>
  <img
    *ngIf="desktop === true"
    src="../../../assets/images/image-home.jpg"
    class="imagem-principal"
    alt="Imagem inicial"
  />
  <img
    *ngIf="desktop === false"
    src="../../../assets/images/image-home-celular.jpg"
    class="imagem-principal"
    alt="Imagem inicial"
  />

  <div class="title">
    <span class="text">WPL <br> Welkisley Paulo Lata <br> Engenheiro Civil <br> Engenheiro de segurança e trabalho</span>
  </div>
</section>

<section
  class="container-principal h-100 m-5"
>
  <div class="p-2 text-center area-perfil col-sm-6">
    <img
      src="../../../assets/images/image-perfil.jpg"
      class="img-fluid image-perfil"
      alt="foto de perfil"
    />
  </div>

  <div class="col-sm-6 text-center mt-4">
    <p class="engenheiro">
      Engenheiro civil e segurança do trabalho
    </p>
    <p class="text" *ngFor="let item of sobre">
      {{ item }}
    </p>
    <p class="name mt-5">
      Redes sociais
    </p>

    <div class="d-flex justify-content-center mt-2">
      <button
        style="margin-right: 10px; padding-top: 4px; padding-left: 2px"
        mat-mini-fab
        color="primary"
        (click)="
          goTo(
            'https://api.whatsapp.com/send?phone=5548991534886&text=Olá,%20gostaria%20de%20solicitar%20um%20serviço.'
          )
        "
      >
        <app-icon name="iconWhats" [icon]="iconWhatsApp"></app-icon>
      </button>

      <button
        style="margin-right: 10px; padding-top: 4px; padding-right: 2px"
        mat-mini-fab
        color="primary"
        (click)="goTo('mailto:welkilseyengenheiro@gmail.com')"
      >
        <app-icon name="iconEmail" [icon]="iconEmail"></app-icon>
      </button>

      <button
        style="padding-top: 5px"
        mat-mini-fab
        color="primary"
        (click)="goTo('https://www.instagram.com/paulo.latta')"
      >
        <app-icon name="iconInstagram" [icon]="iconInstagram"></app-icon>
      </button>
    </div>
  </div>
</section>

<section
  class="h-100 m-5 areaResponsiva"
>
  <div class="pt-5 m-5 titleSection">
    <mat-icon class="icon-display">  build  </mat-icon>
    <span class="label"> Serviços </span>
  </div>

  <p-carousel
    [value]="items"
    [numVisible]="4"
    [numScroll]="4"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    [autoplayInterval]="800000"
  >
    <ng-template let-product pTemplate="item">
      <div style="margin: 20px 5px;">
        <app-card-services [card]="product"></app-card-services>
      </div>
    </ng-template>
  </p-carousel>
</section>

<section
  class="h-100 m-5 areaServicos"
>
  <div class="pt-5 m-5 titleSection">
    <mat-icon class="icon-display">  photo  </mat-icon>
    <span class="label">Portfólio de obras</span>
  </div>

  <article class="elemento">
    <div class="card" style="border: none;">
      <div class="grid row">
          <div *ngFor="let image of images; let index = index" class="col-sm-4" key="index">
              <img class="mb-3 image-service" [src]="image.thumbnailImageSrc" [alt]="image.alt" (click)="imageClick(index)" />
          </div>
      </div>
  </div>
  </article>
</section>
