.body-card {
  max-width: 340px;
  width: 340px;
}

.image {
  height: 160px;
}

.card {
  width: 260px;
}

@media (max-width: 575px) {
  .card {
    width: 245px;
  }
}

@media (min-width: 1499px) {
  .image {
    height: 260px;
  }

  .card {
    width: 340px;
  }
}
